{% extends 'base.html' %}

{% block content %}

{%load static%}
<link rel="stylesheet" type="text/css" href="{% static 'estilos.css' %}">

<body>
<section>
    <h1>{{ articulo.titulo }}</h1>
    <img src="{{articulo.imagen}}"></a>
    <h3>{{ articulo.subtitulo}}</h3>
    <p>{{ articulo.cuerpo}}</p>
    <footer>
        Autor: {{articulo.autor}}<br>
        Fecha: {{articulo.fecha}}
    </footer>
    
</section>

<div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p}}
        <input type="submit" name="enviar" value="Enviar comentario">

    {% for comentario in comentarios %}
    <p>Comentario de {{comentario.usuario}}:<br>{{comentario.cuerpo}}<br>Publicado el {{comentario.fecha}}</p><br>

    {% endfor %}


</div>
</body>

<a href="/">Volver a Home</a>

</html>
{% endblock %}